
 .fer:hover{
    color: red;
 }
 .transfert{
   background-color:rgb(240, 240, 240);
}
.form-control-label{
   margin-left: 2%;
   font-size: 20px;
   text-transform: uppercase;
   font: bold;
   font-family: 'Times New Roman', Times, serif;
}
.nat{
   width: 96%;
   height: 30%;
   margin-left: 2%;
   border-radius: 20px;
}
.saisir{
   margin-left: 2%;
   width: 96%;
   border-radius: 10px;
}