



.myStyle{
    text-align:center; margin-top: 100px;
    }
    .style-mat-card{
        margin-top:10px; width: 100%;
    }
    .fer:hover{
       color: red;
    }
    .transfert{
        background-color:rgb(240, 240, 240);
    }
    .form-control-label{
        margin-left: 2%;
        font-size: 20px;
        text-transform: uppercase;
        font: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    .nat{
        width: 96%;
        height: 30%;
        margin-left: 2%;
        border-radius: 20px;
    }
    .saisir{
        margin-left: 2%;
        width: 96%;
        border-radius: 10px;
    }
    .label{
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 2%;
    }
    .dd{
        margin-left: 44%;
    }
    .df{
        margin-left: 50%;
        color: red;
    }