<!-- <div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demande">
            <h2><span jhiTranslate="jtest5App.demande.detail.title">Demande</span> {{ demande.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtest5App.demande.date">Date</span></dt>
                <dd>
                    <span>{{ demande.date }}</span>
                </dd>
                <dt><span jhiTranslate="jtest5App.demande.semestre">Semestre</span></dt>
                <dd>
                    <span>{{ demande.semestre }}</span>
                </dd>
                <dt><span jhiTranslate="jtest5App.demande.etat">Etat</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jtest5App.Etat.' + demande.etat }}">{{ demande.etat }}</span>
                </dd>
                <dt><span jhiTranslate="jtest5App.demande.inscription">Inscription</span></dt>
                <dd>
                    <div *ngIf="demande.inscription">
                        <a [routerLink]="['/inscription', demande.inscription?.id, 'view']">{{ demande.inscription?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/demande', demande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div> -->
